

export const BACKEND_URL = 'https://stage-ewallet-api.publiq.network';

export const PUBLIQICO_URL = 'https://stage-ico-api.publiq.network';
export const PUBLIQICO_FRONT_URL = 'http://stage-ico.publiq.network';
