<footer>
  <div class="main-grid container-fluid">
    <div class="row">
      <div class="col-sm-6 mb-4 mb-sm-0">
        <!--<p class="text-uppercase pl-4 mb-2">{{'footer.update-text' | translate}}</p>-->
        <app-subscribe></app-subscribe>
      </div>
      <div class="col-sm-6 d-flex flex-column text-sm-right text-center justify-content-end">
        <ul class="social row no-gutters justify-content-center justify-content-sm-end mb-4 mb-sm-5">
          <li><a href="https://www.facebook.com/PUBLIQNetwork/" target="_blank"><i class="icon-facebook"></i></a>
          </li>
          <li><a href="https://twitter.com/PUBLIQnetwork" target="_blank"><i class="icon-twitter"></i></a>
          </li>
          <li><a href="https://www.linkedin.com/company-beta/18087058/" target="_blank"><i
            class="icon-linkedin"></i></a></li>
          <li><a href="https://www.reddit.com/user/PUBLIQ-Network" target="_blank"><i class="icon-reddit"></i></a>
          </li>
          <li><a href="https://t.me/joinchat/E7QPpRKxq0pMWxIDcHc98A" target="_blank"><i
            class="icon-telegram"></i></a></li>
          <li><a href="https://bitcointalk.org/index.php?topic=2398117" target="_blank"><i
            class="icon-bitcoin-social"></i></a></li>

          <li><a href="https://www.youtube.com/channel/UCJoyfaceQSbg_wOquqaLh9w" target="_blank"><i
            class="icon-youtube"></i></a></li>
          <li><a href="https://plus.google.com/110486829462354219569" target="_blank"><i
            class="icon-Google"></i></a></li>
          <li><a href="https://www.instagram.com/publiqnetwork/" target="_blank"><i
            class="icon-Instagram"></i></a></li>

        </ul>
        <!--div class="copyright">&copy; {{'footer.copyright' | translate}}</div-->
      </div>
    </div>
  </div>
</footer>
