$dark-primary: #1BB168;
$primary: #454A5B;
$primary-hover: #032896;
$dark-background: rgba(0, 0, 0, 0.6);
$green-submit: #66BB6A;
$lite-blue: #5C6BC0;
$dark-accent-300: #AFBBD1;
$dark-accent-400: #7F8A9E;
$dark-accent-500: #6C788D;
$dark-accent-300: #AFBBD1;
$drop-triangle: #B8C0CF;
$dark-accent-200: #E4E9F2;
$border: #EBEDF1;
$invalid: #DE2800;
$icon-blue: #3378E1;
$link: #E6AA03;
$caption: #FF7557;
$open: "Open Sans", sans-serif;
$montserrat: "Montserrat", sans-serif;
