@import "../../../assets/variable";

.page-not-found {
    display: block;
    margin: 10vh auto;
    font-family: $open;
    //min-height: calc(100vh - 160px);
    position: relative;
    z-index: 1;

    div.sad {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 91px;
        height: 91px;
        //background: url(../../../assets/icon/sad.svg) 100% no-repeat;
    }

    h4 {
        text-align: center;
        margin-top: 37px;

        color: #FFFFFF;
        font-size: 42px;
        font-weight: normal;
    }

    p{
        margin-top: 31px;
        text-align: center;
        color: #FFFFFF;
        font-size: 14px;
        font-weight: normal;
    }

    a{
        z-index: 10000;
        text-align: center;
        color: #FFFFFF;
        font-weight: bold;

        &:hover {
            color:#2dc3ff!important;
        }
    }
}
